# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M

# Disabling symbolic-links is recommended to prevent assorted security risks


# ------------------------------------------------------------------
# mysqld
# ------------------------------------------------------------------
# //Base
[mysqld]
datadir=/var/lib/mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/tmp/mysql.sock
user=mysql
port=3306

default-storage-engine=InnoDB
transaction-isolation=REPEATABLE-READ
symbolic-links=0
default_password_lifetime=0
secure-file-priv=/tmp
explicit_defaults_for_timestamp=true
innodb_data_file_path=ibdata1:10M:autoextend:max:10G
# validate_password_mixed_case_count=0
innodb_file_per_table
skip-external-locking
skip-grant-tables

# //Character Setting
character-set-server=utf8
collation-server=utf8_general_ci
skip-character-set-client-handshake

# //Logging
log_output=FILE
log_warnings=1
log_timestamps=SYSTEM

general_log=1
general_log_file=/var/log/mysqld/mysql-general.log
log_error=/var/log/mysqld/mysqld.log
slow_query_log=1
slow_query_log_file=/var/log/mysqld/mysql-slow.log
long_query_time=1

# //Network
max_connections=100
max_user_connections=100
thread_cache_size=60
wait_timeout=3600
skip-name-resolve

# //Memory
table_open_cache=512
query_cache_type=ON
query_cache_size=32M
innodb_buffer_pool_size=128M
innodb_log_buffer_size=8M
innodb_log_file_size=4M
key_buffer_size=512K

binlog_cache_size=32768
sort_buffer_size=2M
join_buffer_size=256K
read_buffer_size=2M
read_rnd_buffer_size=8M
max_allowed_packet=1M
thread_stack=256K


# ------------------------------------------------------------------
# mysqld_safe
# ------------------------------------------------------------------
[mysqld_safe]
pid-file=/var/run/mysqld/mysqld.pid
socket=/tmp/mysql.sock

# ------------------------------------------------------------------
# mysqldump
# ------------------------------------------------------------------
[mysqldump]
quick
max_allowed_packet=1M
socket=/tmp/mysql.sock

# ------------------------------------------------------------------
# mysql console
# ------------------------------------------------------------------
[mysql]
no-auto-rehash
show-warnings
prompt=\u@\h:\d\_\R:\m:\\s>
pager="less -n -i -F -X -E"
socket=/tmp/mysql.sock

# ------------------------------------------------------------------
# mysql
# ------------------------------------------------------------------
[mysql]
no-auto-rehash

# ------------------------------------------------------------------
# client
# ------------------------------------------------------------------
[client]
port=3306
socket=/tmp/mysql.sock
